@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

/* GRID Layout */
.layout {
  width: 100%;
  display: grid;
  grid-template-areas: "header header header header header" "nav nav nav nav nav" "main main main main main" "aside aside aside footer footer"; }

.body {
  background-color: white;
  width: 100%;
  margin: 0; }

main {
  grid-area: main;
  margin: 0%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 3rem; }

/* Estilos Header */
header {
  background-color: #D9CA4D;
  grid-area: header;
  text-align: center; }

/*     NAV Style */
nav {
  width: 100%; }

.navbar {
  grid-area: nav;
  padding: 0; }

.nav__color {
  background-color: #D9CA4D; }

.textnav {
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.navbar .nav-item:hover {
  background-color: white; }

ul li a {
  width: 300px;
  text-align: center; }

/* Estilos Footer */
aside {
  background-color: #D9CA4D;
  grid-area: aside; }

footer {
  background-color: #D9CA4D;
  grid-area: footer; }

header img {
  width: 9rem; }

/*                  Estilo Body - Index               */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/* Texto 1 */
.Texto1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  margin: 2rem; }

.Bold {
  font-weight: bold; }

/* Texto 2 */
.Texto2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  text-align: right;
  margin-top: 2rem;
  margin-right: 10rem;
  margin-bottom: 2rem; }

/*                    Estilo Body - Nosotros              */
.textNosotros {
  margin: 2rem 3rem;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 60px; }

/*                 Estilo Body - Servicios                */
.servflex {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center; }

/* Sección Para Empresas */
.pe {
  grid-area: pe;
  text-align: center;
  margin: auto; }

.pe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 66%; }

/* Sección Para Tí */
.pt {
  grid-area: pt;
  text-align: center;
  margin: auto; }

.pt-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 33%; }

.card {
  height: 300px;
  width: 250px;
  margin: 5px;
  border-radius: 6px;
  overflow: hidden;
  background: #007785;
  position: relative; }

.card img {
  width: 200px;
  height: auto;
  padding: 1em 1em 1em 1em; }

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

h3 {
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: italic; }

.card:hover {
  transform: scale(1.2, 1.2);
  border: solid;
  border-color: white;
  border-width: thick;
  z-index: 1; }

/*                 Estilo Body - CLIENTES            */
.textClientes {
  font-family: 'Poppins', sans-serif;
  padding-left: 10%;
  font-size: 20px; }

.fotos-clientes {
  display: flex;
  text-align: center;
  width: 100%; }
  .fotos-clientes img {
    width: 200px;
    height: auto;
    margin: auto;
    padding: 2rem; }
    .fotos-clientes img:hover {
      background-color: #D9CA4D;
      border-radius: 50px;
      background-image: linear-gradient(#007785, white); }

/* Estilo Main - CONTACTO */
h1 {
  margin: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }

.Formulario {
  margin: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 13px; }

.boxes {
  display: flex;
  flex-direction: column; }

.formbox {
  border-style: solid;
  border-color: #007785;
  border-width: medium;
  border-radius: 5px; }

.button {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #007785;
  color: white;
  border: none;
  border-radius: 5px; }

/*                 Estilo Footer           */
footer {
  display: flex;
  background-color: #D9CA4D;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden; }

.tel__redes {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  font-weight: bold;
  text-align: center; }

.redes {
  font-size: 20px;
  text-align: center; }

.domicilio {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  font-weight: light;
  text-align: center;
  padding-right: 6rem;
  padding-left: 10rem; }

.direccion {
  font-weight: bolder; }

aside img {
  width: 150px;
  padding: 2rem; }

/*           Media Query Tablet         */
@media screen and (max-width: 768px) {
  /* Estilo layout */
  .layout {
    display: flex;
    flex-direction: column; }
  /* Estilo Nav */
  .navbar {
    padding: 10px; }
  /* Estilo Footer */
  .aside {
    background-color: #D9CA4D;
    align-items: center; }
  .iso {
    padding: .5rem;
    margin: auto;
    display: block; }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .tel__redes {
    font-size: 13px; }
  .domicilio {
    padding: 0;
    font-size: 13px; }
  /* Estilo Index */
  .Texto1 {
    margin: 1rem; }
  /* Estilo Nosotros */
  .textNosotros {
    margin: 2%;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 19px;
    line-height: 30px; }
  /* Estilo Servicios */
  .servflex {
    display: flex;
    flex-direction: column; }
  .pe-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem; }
  .pt-container {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  /* Estilo Clientes */
  .textClientes {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0; }
  .fotos-clientes {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .fotos-clientes img {
      width: 200px;
      height: auto;
      margin: auto; } }

/*           Media Query Mobile         */
@media screen and (max-width: 480px) {
  /* Estilo layout */
  .layout {
    display: flex;
    flex-direction: column; }
  /* Estilo header */
  header {
    max-width: 100%; }
  /* Estilo Index */
  .Texto1 {
    margin: 0.5rem; }
  .carousel-inner {
    height: 200px; }
    .carousel-inner img {
      width: auto;
      height: 225px;
      max-height: 225px; }
  /* Estilo Footer */
  .aside {
    background-color: #D9CA4D;
    align-items: center; }
  .iso {
    padding: .5rem;
    margin: auto;
    display: block; }
  .tel__redes {
    display: none; }
  .domicilio {
    display: none; }
  /* Estilo Nosotros */
  .textNosotros {
    margin: 2%;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 19px;
    line-height: 30px; }
  /* Estilo Servicios */
  .servflex {
    display: flex;
    flex-direction: column; }
  .pe-container {
    display: flex;
    flex-direction: column; }
  .pt-container {
    display: flex;
    flex-direction: column; }
  /* Estilo Clientes */
  .textClientes {
    font-family: 'Poppins', sans-serif;
    padding-left: 10%;
    font-size: 19px; }
  .fotos-clientes {
    display: flex;
    flex-direction: column; }
    .fotos-clientes img {
      width: 300px;
      height: auto;
      margin: auto;
      padding: 2rem; } }
