/*                    Estilo Body - Nosotros              */
.textNosotros {
    margin: 0.5rem 3rem 2rem 3rem;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: $XL-fontzise;
    line-height: 60px;
}
.imgnosotros{
    display: block;
    width: 800px;
    height: auto;
    margin: auto;
}
